<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- Link to my main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>>
        <body>
            {% include navigation.html %}   
	
            <div class="container">

                {{ content }}

            </div><!-- Container -->
            <footer>
                <ul>
                    <li><a href="https://github.com/anmomu">Github</a></li>
                </ul>
            </footer>
        </body>
    </html>
